/*
 * Copyright (c) 2025 TOKITA Hiroshi
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/gpio/gpio.h>
/ {
	vhost {
		rng {
			compatible = "xen,vhost-mmio";
			device-id = <4>;
			vendor-id = <0x7a707972>; /* "zphy" */
			num-queues = <2>;
			queue-size-max= <16>;
			base = <0x2000000>;
		};
        gpio {
            compatible = "xen,vhost-mmio";
            device-id = <41>;
            vendor-id = <0x7a707972>; /* "zphy" */
            num-queues = <2>;
            queue-size-max= <16>;
            base = <0x2000000>;
        }
	};

	chosen {
		zephyr,shell-uart = &xen_hvc;
	};
        aliases {
		led0 = &gpio_emul_led;	
	};
	
	gpio_emul_0: gpio_emul_0 {
            compatible = "zephyr,gpio-emul";
	    gpio-controller;
            status = "okay";
            #gpio-cells = <2>;
            ngpios = <8>;
            rising-edge;
            falling-edge;
            high-level;
	};
	leds {
            compatible = "gpio-leds";
            gpio_emul_led: led {
                gpios = <&gpio_emul_0 1 GPIO_ACTIVE_LOW>;
          };
        };
};
